.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routing-buttons {
  margin: 20px 0;
  display: flex;
  gap: 20px;
}

.active {
  background-color: rgb(62, 62, 255);
  color: white;
  border-radius: 4px;
}
